### 1. Create a dictionary with 3 key-value pairs (name, age, city).

In [2]:
student={"name":"harsh","age":"22","city":"pune"}
student

{'name': 'harsh', 'age': '22', 'city': 'pune'}

### 2. Create a dictionary and print the value of a specific key.

In [3]:
student={"name":"harsh","age":"22","city":"pune"}
student.get("city")

'pune'

### 3. Create a list of 5 numbers and print the second element.

In [ ]:
lst=[34,90,78,45,77,12]
lst[1]

90

### 4. Add an element "banana" to an existing list.

In [13]:
lst=[34,90,78,45,77,12]
lst.append("banana")
lst

[34, 90, 78, 45, 77, 12, 'banana']

### 5. Insert "apple" at index 2 in a list.

In [15]:
lst=[34,90,78,45,77,12]
lst.insert(2,"apple")
lst

[34, 90, 'apple', 78, 45, 77, 12]

### 6. Remove the element 10 from a list.

In [18]:
lst=[34,90,78,45,10,77,12]
lst.pop(4)
lst

[34, 90, 78, 45, 77, 12]

### 7. Create a tuple with 4 elements and print the last one.

In [24]:
tuple=("harsh","sanket","sujit","sagar")
tuple[-1]

'sagar'

### 8. Convert a tuple into a list.

In [30]:
tuple = (78,34,79,55,67,90,21)
lst = list(tuple)
lst

[78, 34, 79, 55, 67, 90, 21]

### 9. Find the length of a given tuple.

In [32]:
tuple = (78,34,79,55,67,90,21)
tuple.__len__()

7

### 10. Store 5 student names in a list and print them using a loop.

In [1]:
lst=["harsh","sanket","sujit","sagar","saket"]
for i in lst:
    print(i)

harsh
sanket
sujit
sagar
saket

### 11. Create two lists and concatenate them.

In [35]:
lst1=[34,90,78,45,10,62,12]
lst2=[11,22,33,44,55]
lst1.extend(lst2)
lst1

[34, 90, 78, 45, 10, 62, 12, 11, 22, 33, 44, 55]

### 12. Reverse a list without using reverse().

In [42]:
lst1=[34,90,78,45,10,62,12]
lst1[::-1]

[12, 62, 10, 45, 78, 90, 34]

### 13. Sort a list in descending order.

In [46]:
lst1=[34,90,78,45,10,62,12]
lst.sort(reverse=True)
lst

[90, 79, 78, 67, 55, 34, 21]

### 14. Create a set with 5 numbers and add a new number.

In [48]:
set={67,89,11,34,00,23}
set.add(100)
set

{0, 11, 23, 34, 67, 89, 100}

### 15. Remove an element from a set using discard().

In [50]:
set={67,89,11,34,00,23}
set.discard(00)
set

{11, 23, 34, 67, 89}

### 16. Find the union of two sets.

In [51]:
set={67,89,11,34,00,23}
set1={100,101,102}
set.union(set1)

{0, 11, 23, 34, 67, 89, 100, 101, 102}

### 17. Find the intersection of two sets.

In [54]:
set={67,89,11,34,100,23}
set1={100,101,11,102}
set.intersection(set1)

{11, 100}

### 18.check if a value exists in a set.

In [3]:
set={67,89,11,34,100,23}
67 in set

True

### 19. Create a set and clear all elements.

In [56]:
set={67,89,11,34,100,23}
set.clear()
set

set()

### 20. Convert a list with duplicate values into a set.

In [11]:
lst11=[34,90,78,45,10,34,62,12]
set(lst11)

{10, 12, 34, 45, 62, 78, 90}

### 21. Create a dictionary and update the value of a key.

In [ ]:
student={"name":"harsh","age":22,"city":"pune"}
student.update({"city":"kolhapur"})
student

{'name': 'harsh', 'age': 22, 'city': 'kolhapur'}

### 22. Delete a key-value pair from a dictionary.

In [69]:
student={"name":"harsh","age":22,"city":"pune"}
student.pop("city")
student

{'name': 'harsh', 'age': 22}

### 23. Print all keys of a dictionary.

In [70]:
student={"name":"harsh","age":22,"city":"pune"}
student.keys()

dict_keys(['name', 'age', 'city'])

### 24. Print all values of a dictionary.

In [71]:
student={"name":"harsh","age":22,"city":"pune"}
student.values()

dict_values(['harsh', 22, 'pune'])

### 25. Loop through a dictionary and print key and value.

In [8]:
student={"name":"harsh","age":22,"city":"pune"}
for i in student:
    print(i ,":",student[i])

name : harsh
age : 22
city : pune

### 26. Create a list of numbers and print only even numbers.

In [15]:
lst11=[34,90,78,45,10,34,62,12]

for i in lst11:
    if i % 2==0:
       print(i)

34
90
78
10
34
62
12

### 27. Create a tuple and unpack it into 3 variables.

In [18]:
tuple=(76,89,43)
a,b,c=tuple

print("variable a:",a)
print("variable b:",b)
print("variable c:",c)

variable a: 76
variable b: 89
variable c: 43

### 28. Check if a number is greater than 10 using a comparison operator.

In [27]:
num=10
num>3

True

### 29. Use the in operator to check if "python" exists in a list.

In [6]:
lst=["java","python","hadoop","hive"]
"python" in lst

True

### 30. Use the and operator in a condition.

In [20]:
num =10

num < 15 and num > 5

True

### 31. Use the % operator to check if a number is divisible by 5.

In [23]:
num =int(input("Enter number:"))

num % 5==0

False

### 32. Use the ** operator to calculate 2 raised to the power 5.

In [2]:
num=2**5
num

32

### 33. Create two numbers and compare them using >=.

In [26]:
num1=1000
num2=150
num1 >= num2

True

### 34. Create a list and remove the last element using pop().

In [87]:
lst=[34,90,78,45,10,77,12]
lst.pop()
lst

[34, 90, 78, 45, 10, 77]

### 35. Create a list and print its first and last elements.

In [34]:
lst=[34,90,78,45,10,77,12]
print([lst[0],lst[-1]])

[34, 12]

### 36. Count how many times "apple" appears in a list.

In [93]:
lst=["apple","strobery","banana","gauva","apple"]
lst.count("apple")

2

### 37. Create a tuple and check if a value exists using in.

In [36]:
tuple = (78,34,79,55,67,90,21)
78 in tuple

True

### 38. Convert a dictionaryâ€™s keys into a list.

In [99]:
student={"name":"harsh","age":22,"city":"pune"}
lst =list(student)
lst

['name', 'age', 'city']

### 39. Create a nested dictionary for a student (name, marks, subjects).

In [1]:
dict = {"name":"sanket",
        "marks":{
            "mathematics":85,
            "english":40,
            "science":90},
        "subject":{"science","english","mathematics"}
        }

dict

{'name': 'sanket',
 'marks': {'mathematics': 85, 'english': 40, 'science': 90},
 'subject': {'english', 'mathematics', 'science'}}

### 40. Merge two dictionaries into one.

In [4]:
student={"name":"harsh","age":22}
student2={"city":"pune"}
student.update(student2)
student

{'name': 'harsh', 'age': 22, 'city': 'pune'}

### 41. Create a set and print the number of elements.

In [15]:
set={65,67,90,12,12,45}
set.__len__()

5

### 42. Create a dictionary and print all items using items().

In [103]:
student={"name":"harsh","age":22,"city":"pune"}
student.items()

dict_items([('name', 'harsh'), ('age', 22), ('city', 'pune')])

### 43. Create a list of numbers 1 to 10 and print the square of each one.

In [4]:
lst=[1,2,3,4,5,6,7,8,9,10]
for i in lst:
    print("square of ",i," is :",i**2)

square of  1  is : 1
square of  2  is : 4
square of  3  is : 9
square of  4  is : 16
square of  5  is : 25
square of  6  is : 36
square of  7  is : 49
square of  8  is : 64
square of  9  is : 81
square of  10  is : 100

### 44. Multiply two numbers and print the result using *.

In [6]:
num=44*56
num

2464

### 45. Divide two numbers and print the results using / and //.

In [3]:
num1=45//3
num1

15

### 46. Create a list and replace the element at index 1.

In [6]:
lst=[1,2,3,4,5,6,7,8,9,10]
lst.insert(1,1000)
lst

[1, 1000, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 47. Create a tuple from user input (3 values).

In [17]:
a=str(input("Enter name:"))
b=str(input("Enter age"))
c=str(input("Eneter city"))

print(a,b,c)

harsh 22 pune

### 48. Create a set from a string and print all unique characters.

In [1]:
str = "maharastra"
set(str)

{'a', 'h', 'm', 'r', 's', 't'}

### 49. Use the is operator to compare two variables.

In [10]:
a = 10
b = 10
c = 20

numbers = [b, c]

for n in numbers:
    if n is a:
        print(n, " a same object")
    else:
        print(n, " a not  same object")

10  a same object
20  a not  same object

### 50. Create a dictionary and check if a key exists using in.

In [7]:
student={"name":"harsh","age":22,"city":"pune"}
"age" in student

True

### 51. Write a program to check if a number is between 10 and 50 using and.

In [14]:
num=int(input("enter number:"))
if num>=10 and num<=50:
    print("enter number are under 10-50 ")
else:
    print("enter number are not under 10-50")

enter number are not under 10-50

### 52. Check if a number is less than 5 or greater than 20 using or.

In [2]:
num=int(input("enter one number:"))
if num < 5 or num > 20 :
    print("condition true")
else:
    print("condition faulse")

condition faulse

### 53. Use not to check if a list is not empty.

In [4]:
lst=[23,45,67,89,90]
not[lst]

False

### 54. Write code to check if a character is a vowel using or.

In [9]:
v=(input("enter latter:"))
if v == 'a' or v == 'e' or v == 'i' or v == 'o' or v == 'u':
    print("its vowel")
else:
    print ("its not vowel")

its not vowel

### 55. Check if a dictionary has both keys "name" and "age".

In [17]:
student={"name":"harsh","age":22,"city":"pune"}
result="name","age" in student
result

('name', True)

### 56. Verify if a set contains either 10 or 20.

In [19]:
s = {33, 56, 78, 90, 12}

if 10 in s or 20 in s:
    print("condition true")
else:
    print("condition false")

condition false

### 57. Use not to check if a number is not equal to 100.

In [6]:
a=100
not a == 80

True

### 58. Write a condition to check if a student passed (marks > 35 and attendance > 75).

In [23]:
mark=int(input("enter marks"))
attendance=int(input("enter attendance"))
if mark > 35 or attendance > 75:
    print("passed")
else:
    print("failed")

failed

### 59. Use logical operators to check if a number is positive and even.

In [ ]:
num = int(input("Enter a number: "))

if num > 0 and num % 2 == 0:
    print("positive and even")
else:
    print("Condition failed")

### 60. Check if a tuple has more than 3 elements or contains the value 0.

In [24]:
t = (1, 2, 3, 4)  

if len(t) > 3 or 0 in t:
    print("Condition True")
else:
    print("Condition False")

Condition True