### 1. Print numbers from 1 to 10 using a for loop

In [5]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

### 2. Print all even numbers between 1 and 20 using a for loop

In [7]:
for even in range(0,20,2):
    print(even)

0
2
4
6
8
10
12
14
16
18

### 3. Print each character of the string 'Python' using a for loop

In [8]:
str="python"

for x in str:
    print(x)

p
y
t
h
o
n

### 4. Print the squares of numbers from 1 to 5 using a for loop

In [9]:
for x in range(1,6):
    print(x**2)

1
4
9
16
25

### 5. Print all elements of a list using a for loop

In [10]:
list = [12,4,78,7,78,34,11,9,93,89,82]

for x in list:
    print(x)

12
4
78
7
78
34
11
9
93
89
82

### 6. Calculate the sum of numbers from 1 to 50 using a for loop

In [23]:
sum=0
for x in range(1,51):
    sum=sum+x

sum

1275

### 7. Print numbers from 10 to 1 in reverse using a for loop

In [8]:
for x in range(10,0,-1):
    print(x)

10
9
8
7
6
5
4
3
2
1

### 8. Print the multiplication table of 7 using a for loop

In [14]:
for x in range(7,71,7):
    print(x)

7
14
21
28
35
42
49
56
63
70

### 9. Count how many vowels are in the string 'education' using a for loop

In [34]:
s = "education"
count=0
v="aeiou"
for x in s:
    if x in v:
        print(x)
        count=count+1

print(f"{count} vowel counts")

e
u
a
i
o
5 vowel counts

### 10. Print all odd numbers from 1 to 30 using a for loop

In [27]:
for x in range(1,30,2):
    print(x)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

### 11. Count how many uppercase letters are in a string using a for loop

In [39]:
string="HarshvardhanPatil"
count=0
for character in string:
    if character.upper()==character:
        (print(character))
        count=count+1
print(f"{count} uppercase latters")

H
P
2 uppercase latters

### 12. Create a new list that contains only the positive numbers from another list

In [18]:
list=[23,56,-9,6.6,90,-32,-8,78]
list2=[]
for x in list:
    if x >= 0:
        list2.append(x)
list2

[23, 56, 6.6, 90, 78]

### 13. Print numbers from 1 to 10 using a while loop

In [ ]:
num=1
while num <= 10:
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9
10

### 14. Print all multiples of 5 up to 50 using a while loop

In [22]:
num=5
while num <= 50:
    print(num)
    num+=5

5
10
15
20
25
30
35
40
45
50

### 15. Print numbers from 10 to 1 in reverse using a while loop

In [45]:
num=10
while num >= 1:
    print(num)
    num-=1

10
9
8
7
6
5
4
3
2
1

### 16. Keep asking the user to enter numbers until the user enters 0

In [27]:
x = int(input("enter number"))

while x != 0 :
    x = int(input("enter number"))

### 17. Use a while loop to calculate the sum of the first 10 natural numbers

In [57]:
sum=0
for x in range(1,11):
    sum=sum+x

sum

55

### 18. Given a dictionary of fruits and their prices, print all the keys using a for loop

In [ ]:
fruits = {"apple": 100,"banana": 40,"mango": 120}

for key in fruits.keys():
   print(key)

apple
banana
mango

### 19. Given a dictionary of fruits and their prices, print all the values using a for loop

In [ ]:
fruits = {"apple": 100,"banana": 40,"mango": 120}

for values in fruits.values():
   print(values)

100
40
120

### 20. Print both keys and values of a dictionary using a for loop

In [10]:
fruits = {"apple": 100,"banana": 40,"mango": 120}

for x in fruits.items():
   print(x, "thos ares keys and values")

('apple', 100) thos ares keys and values
('banana', 40) thos ares keys and values
('mango', 120) thos ares keys and values

### 21. Count how many keys are in a dictionary using a for loop

In [8]:
fruits = {"apple": 100,"banana": 40,"mango": 120}
count=0
for key in fruits.keys():
   print(key)
   count=count+1
print(f"{count} keys in dict")

apple
banana
mango
3 keys in dict

### 22. Create a dictionary and print only the keys that start with the letter 'a'

In [ ]:
fruits = {"apple": 100,"banana": 40,"mango": 120}

for key in fruits.keys():
    if key.startswith("a"):
        print(key ,"is start with a")

apple start with a

### 23. Given a dictionary of student names and marks, print only the students who scored more than 80

In [13]:
stud={"sanket" : 78 , "harsh" : 89 ,"sujit" : 90, "sagar" : 77 ,"saket" : 55}

for x in stud.items():
    if x[1] >= 80:
        print(x)

('harsh', 89)
('sujit', 90)

### 24. Given a dictionary, print the sum of all the values using a for loop

In [32]:
fruits = {"apple": 100,"banana": 40,"mango": 120}
sum=0
for x in fruits.items():
    sum += x[1]
sum

260

### 25. Given a dictionary, find the key with the highest value using a for loop

In [44]:
fruits = {"apple": 100,"banana": 40,"mango": 120}

high_value = 0 

for key,val in fruits.items():
    if val > high_value:
        high_value = val

print(key,high_value)

mango 120

### 26. Convert all dictionary keys into a list using a for loop

In [6]:
students = {"harsh": 88,"Saket": 68,"sujit": 97,"sagar": 57,"sanket": 99}

lst = []

for key in students.keys():
    lst.append(key)
lst

['harsh', 'Saket', 'sujit', 'sagar', 'sanket']

### 27. Create a dictionary of 5 words and their lengths, then print each word and its length using a for loop

In [10]:
dic={"harsh" : len("harsh"),"sanket" : len("sanket"),"sagar" : len("sagar"),"vishal" : len("vishal"),}

for x ,y in dic.items():
    print(x,y)

harsh 5
sanket 6
sagar 5
vishal 6

### 28. Given a list of numbers, print only numbers greater than 10

In [11]:
num=[5,56,78,2,4,56,90,12,23,5,9,67,54]

for x in num:
    if x >= 10:
        print(x)

56
78
56
90
12
23
67
54

### 29. Count how many elements in a list are integers using a for loop

In [28]:
lst = ['a',45,68,99,-23,"h",66,-48,-88,'b',89,"abc"]
count = 0
for element in lst :
    if isinstance(element,int) :
        count += 1
        print(element)
        
print("count of integer number is : ",count)

45
68
99
-23
66
-48
-88
89
count of integer number is :  8

### 30. Print the sum of all even numbers in a list using a for loop

In [26]:
num=[5,56,78,2,4,56,90,12,23,5,9,67,54]

for x in num:
    if x%2==0:
        print(x)

56
78
2
4
56
90
12
54

### 31. Print the cube of each number in a list of 5 numbers

In [29]:
num=[5,56,78,2,4,56,90,12,23,5,9,67,54]

for x in num:
    print(x**3)

125
175616
474552
8
64
175616
729000
1728
12167
125
729
300763
157464

### 32. Print each word in the sentence 'Python is fun' using a for loop

In [36]:
sentence="python is fun"

for x in sentence.split():
    print(x)

python
is
fun

### 33. Print the first 5 multiples of 3 using a for loop

In [35]:
for x in range(3,16,3):
    print(x)

3
6
9
12
15

### 34. Print only names that start with 'A' from a list of names

In [36]:
names=["harsh","ajinkya","sanket","akansha","sujit","akash"]

for x in names:
    if x.startswith("a"):
        print(x)

ajinkya
akansha
akash

### 35. Find the largest number in a list using a for loop

In [1]:
lst = [1,34,56,78,99,45,33,2,34]

for num in lst :
    a= max(lst)
    
print("maximum value is : ",a)

maximum value is :  99

### 36. Print the index and value of each element in a list

In [35]:
lst = [1,34,56,78,99,45,33,2,34]

for x in range(len(lst)):
     print(x,":",lst[x])

0 : 1
1 : 34
2 : 56
3 : 78
4 : 99
5 : 45
6 : 33
7 : 2
8 : 34

### 37. Create a dictionary with 5 students and their marks

In [6]:
studentss= {"harsh": 88,"Saket": 68,"sujit": 97,"sagar": 57,"sanket": 99}
type(studentss)

dict

### 38. Use a for loop to print all student names

In [17]:
studentss= {"harsh": 88,"Saket": 68,"sujit": 97,"sagar": 57,"sanket": 99}

for x in studentss.items():
    print(x[0])

harsh
Saket
sujit
sagar
sanket

### 39. Given a dictionary of fruits and prices, use a for loop to print each fruit and its price

In [21]:
fruits = {"apple": 100,"banana": 40,"mango": 120}

for x,y in fruits.items():
    print(x ,":" ,y,"rs")

apple : 100 rs
banana : 40 rs
mango : 120 rs

### 40. Create a dictionary of 5 products and their prices. Increase every product's price by 10% using a for loop

In [ ]:
product={"iphone" : 76000 , "watch" : 6600 ,"T.V" : 90400 , "fridge" : 45000, "A.C" : 30000}

for prod,price in product.items():
     product[prod] = price + (price * 10/100)
print(product)

{'iphone': 83600.0, 'watch': 7260.0, 'T.V': 99440.0, 'fridge': 49500.0, 'A.C': 33000.0}

### 41. Given a dictionary of 10 items, delete all items whose value is less than 50 using a for loop

In [53]:
itemss={"sanket" : 78 , "harsh" : 32 ,"sujit" : 90, "sagar" : 12 ,"saket" : 55}

for x in itemss.items():
    if x[1] >= 50:
        print(x)

('sanket', 78)
('sujit', 90)
('saket', 55)

### 42. Create a dictionary of subjects and marks. Add a new subject and mark. Then use a for loop to print all updated keyâ€“value pairs

In [71]:
stud={"sanket" : 78 , "harsh" : 89 ,"sujit" : 90, "sagar" : 77 ,"saket" : 55}
stud["raghav"]=99
for x,y in stud.items():
    print(x,y)

sanket 78
harsh 89
sujit 90
sagar 77
saket 55
raghav 99

### 43. Given a dictionary of names and ages, add 1 year to every age using a for loop

In [73]:
stud={"sanket" : 78 , "harsh" : 89 ,"sujit" : 90, "sagar" : 77 ,"saket" : 55}

for x,y in stud.items():
    print(x,y + 1)

sanket 79
harsh 90
sujit 91
sagar 78
saket 56

### 44. Print numbers from 0 to 9 using range()

In [74]:
for x in range(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

### 45. Print numbers from 5 to 15 using range()

In [75]:
for x in range(5,16):
    print(x)

5
6
7
8
9
10
11
12
13
14
15

### 46. Print numbers from 1 to 20 with a step of 2 using range()

In [76]:
for x in range(1,20,2):
    print(x)

1
3
5
7
9
11
13
15
17
19

### 47. Print the length of a given list using len()

In [83]:
lst = [1,34,56,78,99,45,33,2,34]
x=len(lst)
print(f"{x} length of list")

9 length of list

### 48. Print the length of a given string using len()

In [82]:
str="gidbcjbasiabbadiubcbfgehwqvhfhfvewubv"
x=len(str)
print(f"{x} length of string")

37 length of string

### 49. Use range() and len() to iterate over a list by index and print each element

In [39]:
lst = [1,34,56,78,99,45,33,2,34]

for x in range(len(lst)):
    print(x,":",lst[x])

0 : 1
1 : 34
2 : 56
3 : 78
4 : 99
5 : 45
6 : 33
7 : 2
8 : 34

### 50. Print the sum of numbers from 1 to 100 using range()

In [84]:
sum=0
for x in range(1,100):
    sum=sum+x

sum

4950