# üìù Python Assignment ‚Äì Nested Lists & Nested Dictionaries
## Medium Level Questions (20)
### Instructions:
- Write all your answers in the code cells provided.
- Do not erase the questions.
- Use loops (`for` / `while`) wherever necessary.
---

## **1. Print every element inside this nested list:**
`[[1,2,3], [4,5], [6,7,8,9]]`

In [2]:
lst=[[1,2,3], [4,5], [6,7,8,9]]

for x in lst:
    for y in x:
        print(y)

1
2
3
4
5
6
7
8
9

## **2. Find the sum of all numbers inside a nested list.**
Example: `[[10,20], [30], [5, 7, 8]]`

In [5]:
lst=[[10,20], [30], [5, 7, 8]]
sum=0
for x in lst:
    for y in x:
        sum=sum+y
sum

80

## **3. Count how many even numbers are present in a nested list.**

In [ ]:
lst=[[10,20], [30], [5, 7, 8]]

for x in lst:
    for y in x:
        if y%2==0:
            print(y)

10
20
30
8

## **4. Convert all strings to uppercase inside a nested list.**
Example: `[['hello', 'world'], ['python']]`

In [14]:
lst=[['hello', 'world'], ['python']]

for x in lst:
    for y in x:
        print(y.upper())

HELLO
WORLD
PYTHON

## **5. For the nested marks list, print total marks of each student.**
`[[80, 90, 85], [75, 70, 65], [88, 92, 79]]`

In [26]:
stud=[[80, 90, 85], [75, 70, 65], [88, 92, 79]]

for x in stud:
    for y in x:
        print(y)

80
90
85
75
70
65
88
92
79

## **6. Create a new list containing numbers greater than 50 from a nested list.**

In [28]:
lst=[[10,20], [60], [50, 70, 8]]

for x in lst:
    for y in x:
        if y >= 50:
            print(y)

60
50
70

## **7. Find the largest number inside a nested list.**

In [32]:
lst=[[10,20], [60], [50, 70, 8]]

for x in lst:
    for y in x:
        l=max(lst)
l

[60]

## **8. Flatten a nested list into a single list.**
`[[1,2], [3,4], [5]] ‚Üí [1,2,3,4,5]`

In [39]:
num=[[1,2], [3,4], [5]]
lst=[]
for x in num:
    for y in x:
        
        lst.append(y)
lst

[1, 2, 3, 4, 5]

## **9. Replace all negative numbers with 0 inside a nested list.**

In [ ]:
num=[[1,-7,2],[3,4],[5,-4]]

for x in range(len(num)):  #X ‡§Æ‡•ç‡§π‡§£‡§ú‡•á  outer list ‡§Ü‡§£‡§ø y ‡§Æ‡•ç‡§π‡§£‡§ú‡•á inner list 
    for y in range(len(num[x])): #‡§Ü‡§™‡§£ range ‡§Ü‡§£‡§ø  length ‡§ò‡•á‡§§‡§≤‡•Ä ‡§ï‡§æ‡§∞‡§£  ‡§∏‡§ó‡§≥‡•Ä list use ‡§ï‡§æ‡§∞‡§æ‡§Ø ‡§∏‡§æ‡§†‡•Ä 
        if num[x][y] < 0:
            num[x][y]=0
num

[[1, 0, 2], [3, 4], [5, 0]]

## **10. Count how many inner lists exist inside a nested list.**

In [56]:
lst = [[80, -9, -85], [15, 70, -65], [-88, 92, 79]]
count=0
for x in lst:
    count=count+1
count

3

## **11. Print each student's name and age from this nested dictionary:**
```
{
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
```

In [9]:
stud={
    'A': {'age': 15, 'grade': 10},
    'B': {'age': 16, 'grade': 11}
    }

for x,y in stud.items():
   print(x,y["age"])

A 15
B 16

## **12. Increase every student's marks by 5 in a nested dictionary.**

In [21]:
stud={
    "A" : {"name" : "harsh" , "mark" : 80},
    "B" : {"name" : "sujit" , "mark" : 75},
    "C" : {"name" : "sanket" , "mark" : 90}
    }

for x,y in stud.items():
        print(y["name"],y["mark"]+10)

harsh 90
sujit 85
sanket 100

## **13. Print only the inner dictionary keys from a nested dictionary.**

In [27]:
stud={
    "A" : {"name" : "harsh" , "mark" : 80},
    "B" : {"name" : "sujit" , "mark" : 75},
    "C" : {"name" : "sanket" , "mark" : 90}
    }

for x,y in stud.items():
    for y in y.keys():
        print(x,y)

A name
A mark
B name
B mark
C name
C mark

## **14. Count how many students scored more than 80 in math:**
```
{
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
```

In [20]:
stud={
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
count = 0

for x,y in stud.items():
    if y["math"] > 80 :
        count += 1
        name = x
print("name -",name," and count is : ",count)

name - A  and count is :  1

## **15. Create a new dictionary of students whose age is above 15.**

In [38]:
stud={"Amit":14, "Rohit":17, "Sita":16, "Mira":13}
stud2={}

for x,y in stud.items():
    if y > 15:
        stud2[x]=y
stud2

{'Rohit': 17, 'Sita': 16}

## **16. Find which student scored highest in science.**

In [ ]:
# Write your answer here

## **17. Print employees who belong to the HR department from this dictionary.**

In [ ]:
# Write your answer here

## **18. Delete all entries where the status is 'inactive'.**

In [ ]:
# Write your answer here

## **19. Find total stock by summing all 'quantity' values in a nested dictionary.**

In [ ]:
# Write your answer here

## **20. Convert all inner dictionary keys to uppercase.**

In [ ]:
# Write your answer here