# Basic List Operations

1. Create a list of 5 numbers and add a new number to the end.

In [12]:
lst=[20,30,70]
lst.append(80)
lst

[20, 30, 70, 80]

2. Make a list of fruits and insert a fruit at the second position.

In [13]:
lst=["apple","strobery","banana","gauva"]
lst.insert(2,"papaya")
lst

['apple', 'strobery', 'papaya', 'banana', 'gauva']

3. Create a list of names and remove one name from the list.

In [14]:
lst=["harsh","sanket","sujit"]
lst.pop(0)
lst.remove("sanket")
lst

['sujit']

4. Create a list of 4 items and change the value at index 2.

In [15]:
lst=[56,78,96,34]
lst[2]=100
lst

[56, 78, 100, 34]

5. Make a list of numbers and print only the first three elements.

In [16]:
lst=[45,78,90,12,89,77]
lst[0:3]

[45, 78, 90]

6. Create a list of colors and find the index of a specific color.

In [17]:
lst=["black","white","pink","blue"]
lst.index("pink")

2

7. Create a list of 10 numbers and print how many times “5” appears.

In [18]:
lst=[21,45,78,5,33,66,88,90,23,5]
lst.count(5)

2

8. Make a list of 6 items and delete the item at index 3.

In [19]:
lst=[67,77,90,13,23,67,44,88,91]
lst.pop(3)

print("after delete list : ",lst)

after delete list :  [67, 77, 90, 23, 67, 44, 88, 91]

9. Create a list of animals and add three more animals using extend().

In [20]:
lst1=["tiger","goat","lion"]
lst2=["buffalo","cat","dog","cow"]
lst1.extend(lst2)
lst1

['tiger', 'goat', 'lion', 'buffalo', 'cat', 'dog', 'cow']

10. Create a list and remove the last item using pop().

In [21]:
lst=[67,77,90,13,23,67,44,88,91]
lst.pop()
print("after delete last number:",lst)

after delete last number: [67, 77, 90, 13, 23, 67, 44, 88]

11. Create a list of prices and sort them in ascending order.

In [22]:
lst=[21,45,78,5,33,66,88,90,23,5]
lst.sort()
lst

[5, 5, 21, 23, 33, 45, 66, 78, 88, 90]

12. Make a list of countries and reverse the order of the list.

In [23]:
lst=["india","china","bangal","shrilanka","afgan"]
lst.sort(reverse=True)
lst

['shrilanka', 'india', 'china', 'bangal', 'afgan']

13. Create a list of words and check if “apple” is in the list.

In [24]:
lst=["apple","strobery","banana","gauva"]
lst.count("apple")

1

14. Create a list of numbers and print the largest and smallest number.

In [25]:
num = [67, 77, 90, 13, 23, 67, 44, 88, 91]

print("min is:", min(num))
print("max is:", max(num))

min is: 13
max is: 91

15. Make a list of 5 items and print each item using a loop.

16. Create two lists and combine them into one list.

In [26]:
lst1=["tiger","goat","lion"]
lst2=[21,45,78,5,33,66,88,90,23,5]
lst1.extend(lst2)
lst1

['tiger', 'goat', 'lion', 21, 45, 78, 5, 33, 66, 88, 90, 23, 5]

17. Make a list and replace the last item with a new value.

In [27]:
num = [67, 77, 90, 13, 23, 67, 44, 88, 91]
num[-1]=29
num

[67, 77, 90, 13, 23, 67, 44, 88, 29]

18. Create a list of numbers and print only the even numbers.

19. Create a list and clear all items from the list.

In [28]:
lst=[21,45,78,5,33,66,88,90,23,5]
lst.clear()
lst

[]

20. Create a list of 5 values and copy it into another list.

In [29]:
lst=["harsh","patil","sonarwadi"]
new_lst=lst.copy()
new_lst

['harsh', 'patil', 'sonarwadi']